<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">The Cocktail DB</span>
</nav>

<div class="col-sm-12">
  <div class="row">
    <div class="wrapper">
      <select class="selectfilter" (change)="chooseFilter($event)">
        <option value="none" disabled hidden selected>Filter by</option>
        <option value="c">Categories</option>
        <option value="g">Glasses</option>
        <option value="i">Ingredients</option>
        <option value="a">Alcholic</option>
        <option value="s">Name</option>
        <option value="f">First Letter</option>
      </select>
      <input
      *ngIf="searchEnabled"
        type="text"
        class="input"
        placeholder="Hit enter to search ..."
        [(ngModel)]="query"
        (keydown.enter)="searchBy()"
      />
      <select *ngIf="!searchEnabled" class="selectfilter" (change)="chooseSubFilter($event)">
        <option value="none" disabled hidden selected>Search ...</option>
        <option *ngFor="let filter of appliedFilterItems" value="{{filter}}">{{filter}}</option>
      </select>
    </div>
  </div>
  <div class="row" *ngIf="filtersEnabled">
    <div class="card" style="width: 18rem;" *ngFor="let cocktail of results">
      <img class="card-img-top" src="{{cocktail?.strDrinkThumb}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{cocktail?.strDrink}}</h5>
        <p class="card-text">{{cocktail?.idDrink}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
